module.exports = {
    PORT: 3000,
    JWT_SECRET: '****',
    DB_CONFIG: {
        host: '**localhost**',
        user: '**root**',
        password: '**tupass**',
        database: 'tasksdatabase',
    },
};